In [1]:
import pandas as pd
import numpy as np
import time
import matplotlib.pyplot as plt
from sklearn import datasets
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder
from apyori import apriori as asp_apr

In [2]:
df1 = pd.read_excel("Trade dataset_Pre Over.xlsx",header = None)
df1

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,BX80646I54460SR1QK,BX80662I36100SR2HG,BX80662I56400SR2L7,BX80662I56500SR2L6,BX80662I76700SR2L2,X79A-GD45-PLUS,Z170A GAMING M5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"PBSS4350T,215","PMBT2222A,215",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"BAT54A,215","BAT54C,215","BAV99,215","NX7002AK,215","PMBS3904,215","PMBS3906,215","PTVS5V0S1UR,115",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"BAT54A,215","BAT54C,215","NX7002AK,215","PMBS3904,215","PMBS3906,215","PTVS5V0S1UR,115",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"74AHC1G08GV,125","74HC125D,653","74LVC125AD,118","PMEG4050EP,115",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36493,LM193DR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36494,"1SS357(TPH3,F)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36495,"1SS357(TPH3,F)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36496,JS28F512M29EWHA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36497,T6TD3XB-0003(LO),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
records = []
for i in range(0,36498):
    records.append([str(df1.values[i,j]) for j in range(0,251)])

In [4]:
te = TransactionEncoder()
te_ary  = te.fit(records).transform(records)
te_ary

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [5]:
df = pd.DataFrame(te_ary, columns = te.columns_)
df = df.drop(labels=['nan'],axis=1)
df

,01000054Z,01000056Z,01000057Z,01220088Z,01220090Z,01250003H,01500274Z,01500322H,01520903TXN,0154004.DR,...,ZLUSBEVAL3Z,ZM4746A-GS18,ZM4747A-GS08,ZM4749A-GS08,擎網傳奇-凌風,擎網傳奇-凌風-R,擎網傳奇-煉獄,擎網傳奇-破魂,擎網傳奇-破魂-R,賽克 零度C400
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36493,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36494,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36495,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
36497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Apriori

In [6]:
start_apr = time.time()
frequent_itemsets_apr = apriori(df, min_support = 0.00125, use_colnames = True, low_memory= True)
frequent_itemsets_apr

      support                            itemsets
0    0.003151                        (2N7002,215)
1    0.002274                      (2N7002BK,215)
2    0.001315                        (2N7002ET1G)
3    0.002055                    (2N7002K-T1-GE3)
4    0.003534                        (2N7002LT1G)
..        ...                                 ...
155  0.001260      (PBSS5240T,215, PBSS4240T,215)
156  0.001425        (PMBS3906,215, PMBS3904,215)
157  0.001370      (PMBT2222A,215, PMBT2907A,215)
158  0.001617        (PMBT3906,215, PMBT3904,215)
159  0.001315  (BAS316,115, BAV99,215, BAV70,215)

[160 rows x 2 columns]

In [7]:
frequent_itemsets_apr.sort_values(by= "support", ascending= False).head(20)

      support               itemsets
23   0.008137            (BAV99,215)
51   0.007891   (BX80662I76700SR2L2)
90   0.006000         (MMBT3904LT1G)
45   0.005644   (BX80662I56400SR2L7)
33   0.005315    (BX80646G3240SR1K6)
112  0.005206         (PMBT3904,215)
44   0.005151   (BX80662I36100SR2HG)
18   0.004822           (BAT54C,215)
20   0.004740           (BAT54S,215)
110  0.004576        (PMBT2222A,215)
11   0.004576           (BAS316,115)
50   0.004302  (BX80662I76700KSR2L0)
97   0.003644         (NX7002AK,215)
108  0.003617         (PMBS3904,215)
75   0.003534      (LG-19M38A-B.ATR)
4    0.003534           (2N7002LT1G)
22   0.003534            (BAV70,215)
16   0.003397           (BAT54A,215)
88   0.003370        (MMBT2222ALT1G)
47   0.003315   (BX80662I56500SR2L6)

In [8]:
rules_apr = association_rules(frequent_itemsets_apr, metric = "confidence", min_threshold = 0.8)
end_apr = time.time()
rules_apr

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(SC6531DA),(HS8292U),0.001562,0.001781,0.001562,1.000000,561.507692,0.001559,inf
1,(HS8292U),(SC6531DA),0.001781,0.001562,0.001562,0.876923,561.507692,0.001559,8.112311
2,"(PBSS4240T,215)","(PBSS5240T,215)",0.001397,0.001891,0.001260,0.901961,477.098039,0.001258,10.180717
3,"(BAS316,115, BAV70,215)","(BAV99,215)",0.001480,0.008137,0.001315,0.888889,109.234568,0.001303,8.926763

In [9]:
def arl_recommender(rules_df, product_id, recommendation_number=1):
    recommendation_list_apr = []
    sorted_rules_apr = rules_apr.sort_values("lift", ascending=False)
    for idx, product in enumerate(sorted_rules_apr["antecedents"]):
        for j in list(product):
            if j == product_id:
              recommendation_list_apr.append(list(sorted_rules_apr.iloc[idx]["consequents"])[0])
    return set(recommendation_list_apr[:recommendation_number])

In [18]:
arl_recommender(rules_apr, "PBSS4240T,215", 30)

{'PBSS5240T,215'}

## FP Growth

In [11]:
fpgrowth(df, min_support = 0.00125)

      support       itemsets
0    0.007891         (6689)
1    0.005644         (6682)
2    0.005151         (6679)
3    0.003315         (6685)
4    0.002685         (6646)
..        ...            ...
155  0.001699   (6041, 5983)
156  0.001343   (5972, 5983)
157  0.001562  (9933, 16877)
158  0.001534   (6688, 6689)
159  0.001425   (6642, 6637)

[160 rows x 2 columns]

In [12]:
start_fp = time.time()
frequent_itemsets_fp = fpgrowth(df, min_support = 0.00125, use_colnames = True)
frequent_itemsets_fp

      support                                   itemsets
0    0.007891                       (BX80662I76700SR2L2)
1    0.005644                       (BX80662I56400SR2L7)
2    0.005151                       (BX80662I36100SR2HG)
3    0.003315                       (BX80662I56500SR2L6)
4    0.002685                       (BX80646I54460SR1QK)
..        ...                                        ...
155  0.001699                    (BAT54S,215, BAV99,215)
156  0.001343                   (BAT54S,215, BAT54C,215)
157  0.001562                        (SC6531DA, HS8292U)
158  0.001534  (BX80662I76700KSR2L0, BX80662I76700SR2L2)
159  0.001425    (BX80646I34150SR1PJ, BX80646G3240SR1K6)

[160 rows x 2 columns]

In [13]:
frequent_itemsets_fp.sort_values(by= "support", ascending= False).head(20)

      support               itemsets
6    0.008137            (BAV99,215)
0    0.007891   (BX80662I76700SR2L2)
31   0.006000         (MMBT3904LT1G)
1    0.005644   (BX80662I56400SR2L7)
126  0.005315    (BX80646G3240SR1K6)
14   0.005206         (PMBT3904,215)
2    0.005151   (BX80662I36100SR2HG)
7    0.004822           (BAT54C,215)
82   0.004740           (BAT54S,215)
23   0.004576           (BAS316,115)
5    0.004576        (PMBT2222A,215)
109  0.004302  (BX80662I76700KSR2L0)
8    0.003644         (NX7002AK,215)
9    0.003617         (PMBS3904,215)
53   0.003534            (BAV70,215)
30   0.003534           (2N7002LT1G)
119  0.003534      (LG-19M38A-B.ATR)
10   0.003397           (BAT54A,215)
63   0.003370        (MMBT2222ALT1G)
3    0.003315   (BX80662I56500SR2L6)

In [14]:
rules_fp = association_rules(frequent_itemsets_fp, metric = "confidence", min_threshold = 0.8)
end_fp = time.time()
rules_fp

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(BAS316,115, BAV70,215)","(BAV99,215)",0.001480,0.008137,0.001315,0.888889,109.234568,0.001303,8.926763
1,"(PBSS4240T,215)","(PBSS5240T,215)",0.001397,0.001891,0.001260,0.901961,477.098039,0.001258,10.180717
2,(SC6531DA),(HS8292U),0.001562,0.001781,0.001562,1.000000,561.507692,0.001559,inf
3,(HS8292U),(SC6531DA),0.001781,0.001562,0.001562,0.876923,561.507692,0.001559,8.112311

In [15]:
def arl_recommender_fp(rules_df, product_id, recommendation_number=1):
    recommendation_list_fp = []
    sorted_rules_fp = rules_fp.sort_values("lift", ascending=False)
    for idx, product in enumerate(sorted_rules_fp["antecedents"]):
        for j in list(product):
            if j == product_id:
              recommendation_list_fp.append(list(sorted_rules_fp.iloc[idx]["consequents"])[0])
    return set(recommendation_list_fp[:recommendation_number])

In [19]:
arl_recommender_fp(rules_fp, "SC6531DA", 30)

{'HS8292U'}

In [17]:
print("Apriori 所花費時間:", end_apr - start_apr)
print("FP-Growth 所花費時間:", end_fp - start_fp)

Apriori 所花費時間: 0.7039933204650879
FP-Growth 所花費時間: 0.7492475509643555